.stretch-card>.card {
    width: 100%;
    min-width: 100%
}

.flex {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto
}

@media (max-width:991.98px) {
    .padding {
        padding: 1.5rem
    }
}

@media (max-width:767.98px) {
    .padding {
        padding: 1rem
    }
}

.padding {
    padding: 5rem
}

.grid-margin, .purchace-popup > div {
   margin-bottom: 25px;
}

.card {
   border: 0;
   border-radius: 2px;
}

.card {
   position: relative;
   display: flex;
   flex-direction: column;
   min-width: 0;
   word-wrap: break-word;
   background-color: #fff;
   background-clip: border-box;
   border: 1px solid rgba(0, 0, 0, 0.125);
   border-radius: 0.25rem;
}


.card-weather .card-body:first-child {
   background: url(../img/Riego2.jpeg) no-repeat center;
   background-size: cover;
}

.card .card-body {
   padding: 1.88rem 1.81rem;
}

.card-body {
   flex: 1 1 auto;
   padding: 1.25rem;
}

.card-weather .weather-date-location {
   padding: 0 0 38px;
}

.h3, h3 {
   font-size: 1.56rem;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    font-family: "Port Lligat Slab", serif;
    font-weight: 500;
    font-style: normal;
    font-size: 40px;
   color: #ffffff;
   text-shadow: 3px 3px 5px rgba(255, 255, 255, 0.914);
}

.text-gray, .card-subtitle, .new-accounts ul.chats li.chat-persons a p.joined-date {
    font-family: "Port Lligat Slab", serif;
    font-weight: 500;
    font-style: normal;
    font-size: 30px;
    color: #ffffff;
    text-shadow: 3px 3px 5px rgba(255, 255, 255, 0.914);
}
.clima{
    font-family: "Port Lligat Slab", serif;
    font-weight: 500;
    font-style: normal;
    font-size: 25px;
    text-shadow: 3px 3px 5px rgba(255, 255, 255, 0.914);
    color:#ffffff;
}
p {
   font-size: 13px;
   color:#198754;
   width: 200;
}
.card-weather .weather-data {
   padding: 0 0 4.75rem;
}

.mr-auto, .mx-auto {
   margin-right: auto !important;
}

.display-3 {
   font-size: 2.5rem;
}

.card-weather .card-body {
   background: #ffffff;
}

.card-weather .weakly-weather {
   background: #ffffff;
   overflow-x: auto;
}

.card-weather .weakly-weather .weakly-weather-item {
   flex: 0 0 14.28%;
   border-right: 1px solid #f2f2f2; 
   padding: 1rem;
   text-align: center;
}

.mb-0, .my-0 {
   margin-bottom: 0 !important;
}

.card-weather .weakly-weather .weakly-weather-item i {
   font-size: 1.2rem;
} 

